{% extends "layouts/base.html" %}

{% block content %}

<article class="posts--delete">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="text-decoration-none"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'app.modules.posts:posts.index' %}" class="text-decoration-none">Posts</a></li>

            {% if post.status == 'draft' %}
                <li class="breadcrumb-item"><a href="{% url 'app.modules.posts:posts.drafts' %}" class="text-decoration-none">Drafts</a></li>
            {% endif %}

            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <div class="heading">
        <h2 class="heading-title">Delete</h2>
    </div>

    <form class="post-delete-form" action="" method="post">
        {% csrf_token %}
        
        <p>Are you sure you want to delete "{{ object }}"?</p>

        <button type="submit" class='btn btn-danger btn-delete'><i class="fa fa-trash"></i> Confirm</button>

        {% if post.status == 'draft' %}
            <a href="{% url 'app.modules.posts:posts.drafts' %}" class='btn btn-secondary btn-cancel'><i class="fa fa-xmark"></i> Cancel</a>
        {% else %}
            <a href="{% url 'app.modules.posts:posts.index' %}" class='btn btn-secondary btn-cancel'><i class="fa fa-xmark"></i> Cancel</a>
        {% endif %}
    </form>
</article>

{% endblock %}
