{% extends "layouts/base.html" %}

{% block content %}

<div class="posts--form">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="text-decoration-none"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'app.modules.posts:posts.index' %}" class="text-decoration-none">Posts</a></li>

            {% if post.published_at is empty %}
                <li class="breadcrumb-item"><a href="{% url 'app.modules.posts:posts.drafts' %}" class="text-decoration-none">Drafts</a></li>
            {% endif %}

            <li class="breadcrumb-item active" aria-current="page">{{ template.title|default:'New Post' }}</li>
        </ol>
    </nav>

    <div class="heading">
        <h2 class="heading-title">{{ template.title|default:'New Post' }}</h2>
    </div>

    <form class="post-form my-4" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        
        <div class="btn-group mt-3" role="group" aria-label="btn-save">
            <button type="submit" class="btn btn-primary btn-save active"><i class="fa fa-floppy-disk"></i></button>
            <button type="submit" class="btn btn-primary btn-save">Save Post</button>
        </div>
    </form>
</div>

{% endblock %}
